* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 90vw;
    height: 50vh;
    margin: 0 auto;
    border: 2px solid black;
    position: relative;
}

#pipe {
    width: 5rem;
    position: absolute;
    bottom: 0;
}